/* CSS BY Liz Kilroy */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --Purple: #484fb7;
    --Teal: #4ca7c0;
    --Lavender: #6b8fe7;
    --Yellow: #e9bb57;
    --Pink: #D9526F;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--Lavender);
    min-height: 100vh;
    color: var(--Purple);
    padding: 0;
    max-width: 400px;
}

body > * {
    background: var(--Purple);
}


/* GLOBAL STYLES (mobile first/small) */

/* header- main */

header {
    background: var(--Purple);
    padding: 40px 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 8px;
}

.header p {
    font-size: 14px;
    opacity: 0.95;
}


/* Nav Menu */

nav {
    background: var(--Yellow);
    margin: 20px 0px;
    padding: 0;
}

nav h2 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    margin: 0;
    background: var(--Yellow);
    color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    background: white;
    margin: 10px;
    text-align: center;
}

nav a {
    display: block;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--Purple);
}


nav li:hover {
    background: #f8f8f8
    }


/* services */

#services {
    background: var(--Purple);
    padding: 40px 20px;
}

#services h2 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    margin-bottom: 30px;
}


#services h3 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: var(--Yellow);
    margin-bottom: 30px 0 20px 0;
    font-weight: 600;
}

#service article {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#services img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 0 15px 0;
}

#services h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--Purple);
    font-weight: 700;
}

#services p {
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
}

/* Section headers */

.section-header {
    border-bottom: none;
}

.section-header {
    padding: 15px 20px 5px;
    margin: 25px 20px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.section-subheader {
    color: #f4c430;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 20px 0;
    display: block;
}

/* Why Choose Us */

.why {
    background: #d9526f;
    padding: 40px 20px;
}

.why section-title {
    text-align: center;

}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

.feature-box {
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    color: black;
}

.feature-box:nth-child(1) {
    background: #4ca7c0;
}

.feature-box:nth-child(2) {
    background: #6b8fe7;
}

.feature-box:nth-child(3) {
    background: #e9bb57;
}
.feature-box:nth-child(4) {
    background: white;
}


/* Prices */
.price {
    background: #484fb7;
    padding: 40px 20px;
}

.price-cat {
    margin-bottom: 30px;
}

.price-cat h3{
    color: #e9bb57;
    max-height: 1em;
}

.price-table {
    background: white;
    width: 275px;
    height: 175px;
    overflow: hidden;

}
.price-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #e9bb57;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
}
.price-header div {
    padding: 12px 20px;
}

.price-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #e9bb57;
}

.price-row:last-child {
    border-bottom: none;
}

.price-row div {
    padding: 12px 20px;
    font-size: 0.95em;
}

.price-row div:first-child {
    font-weight: 500;
}

.price-row div:last-child {
    text-align: right;
    font-weight: 600;
}



/* Take 1st Step */

.take-section {
    max-width: 400vw;

    background-color: #d9526f;
    color: white;
/*     padding: 40px; */
    margin: 15px 0;
    overflow: hidden;
}

.take-section h3 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

.take-title {
    margin-bottom: 18px;
}

.take-description {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

.take-description p {
    margin: 10px;
}

.take-button {
    width: 350px;
    align-items: center;
    background: white;
    color: rgb(24, 3, 3);
    padding: 16px 45px;
    margin: 7px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 4px 0 black;

}

.take-button:hover {
    color: teal;
}


/* Footer */

.footer {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    padding: 22px 25px;
    text-align: center;
    color: white;
    font-size: 13px;
} 

.footer a {
    color: #f4c430;
    text-decoration: none;
    margin-left: 5px;
}