/* CSS BY Liz Kilroy */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTLM5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} */



/* GLOBAL STYLES (mobile first/small) */

:root {
    --Purple: #484fb7;
    --Teal: #4ca7c0;
    --Lavender: #6b8fe7;
    --Yellow: #e9bb57;
    --Pink: #D9526F;
}

* {
    max-width: 100%;
    align-content: center;
    margin: 0;
    padding: 0;
/*     box-sizing: border-box; */
}

*
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* ROOT VARIABLES */


body {
    font-family: 'Inter', sans-serif;
    background: var(--Lavender);
    min-height: 100vh;
    align-content: center;
    color: var(--Purple);
    padding: 0;
}

main {
    max-width: 420px;
    margin: 0 auto;
    padding: 0;
}

/* header- main */
header {
    background: var(--Purple);
    color: white;
    text-align: center;
    padding: 40px 20px 30px;
}

h1 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.1;
}


/* header h1 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 8px;
} */

.subtitle {
    font-size: 1em;
    opacity: 0.95;
}

/* .header p {
    font-size: 14px;
    opacity: 0.95;
} */


/* Nav Menu */

nav {
    background: var(--Yellow);
    padding: 25px 20px;
}

nav h2 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 15px 0 0 0;
    margin-bottom: 20px;
    background: var(--Yellow);
    color: black;
}


nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav ul li {
    background: white;
    padding: 18px 20px;
    text-align: center;
    font-weight: 600; 
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 0.5px;
}

nav ul a {
    background: white;
    text-decoration: none;
    display: block;
}


/* nav li:hover {
    background: #f8f8f8
    } */


/* services */

#service {
    background: var(--Purple);
    padding: 40px 20px;
}

/* #services h2 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: var(white);
    margin-bottom: 10px;
} */

.section-title {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    margin-bottom: 15px;
}

.section-subtitle {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--Yellow);
    margin-bottom: 15px;
}

.service-card {
    background: white;
    border-radius: 8px;
    padding: 30px 25px;
    margin-bottom: 20px;
}

.service-card img {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 12px;
    color: var(--Purple);
    font-weight: 700;
}


h3 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--Yellow);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* 
#service article {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

#services img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 0 15px 0; */
/* }
 */
/* #services h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--Purple);
    font-weight: 700;
} */

.service-card p {
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
}

/* Section headers */

/* .section-header {
    border-bottom: none;
}

.section-header {
    padding: 15px 20px 5px;
    margin: 25px 20px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.section-subheader {
    color: #f4c430;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 20px 0;
    display: block;
} */

/* Why Choose Us */

#why {
    background: var(--Pink);
    padding: 40px 20px;
}

#why h2 {
    font-family: 'Kavoon', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    color: white;
    text-align: left;
    margin-bottom: 15px;
}

#why .section-title {
    text-align: center;
}

#why ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;
    margin-top: 25px;
}

#why ul li {
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    color: black;
}

/* .feature-grid li {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 0.95em;
    color: black;
} */

.feature-box:nth-child(1) {
    background: var(--Teal);
    border-radius: 8px;
}

feature-box:nth-child(2) {
    background: var(--Lavender);
    border-radius: 8px;
}

.feature-box:nth-child(3) {
    background: var(--Yellow);
    border-radius: 8px;
}
.feature-box:nth-child(4) {
    background: white;
    border-radius: 8px;
}


/* Prices */
#price {
    background: var(--Purple);
    padding: 40px 20px;
}

#price h2{
    font-family: 'Kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
}

#price .section-title {
    margin-bottom: 25px;
}



#price h3{
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: var(--Yellow);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

#price table {
    background:var(--Yellow);
    width: 70%;
    height: 1em;
    margin: 0 auto;
    overflow: hidden;
}

#price thead {
    font-size: 10em;
    background:white;
    color: black;
}


#price th {
    background: var(--Yellow);
    align-items: center;
    padding: 12px 20px;
    align-items: center;
    font-weight: 700;
    font-size: 0.09em;
    text-transform: uppercase;

}

#price td {
    background: white;
    padding: 12px 20px;
    font-size: 0.95em;

}

#price-tbody tr:first-child td {
    font-size: 2em;
    border-bottom: none;
}

#price td:first-child {
    font-weight: 500;
}

#price td:last-child {
    align-items: center;
    text-align: left;
    font-weight: 600;
}


/* Take 1st Step */

#take {
    background: var(--Pink);
    width: 400px;
    padding: 20px 10px;
}

#take h2 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;

    color: white;
    font-size: 1.5em;
    margin: 5px;
}

#take p {
    color: white;
    text-align: left;
    font-size: 0.95em;
    line-height: 1.7;
    margin-bottom: 25px;
}

#take button {
    align-items: center;
    background: white;
    color: black;
    width: 350px;
    height: 65px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 6px 0 black;
    transition: transform 0.2s;
}

#take button:hover {
    color: teal;
}


/* Footer */

.footer {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    padding: 22px 25px;
    text-align: center;
    background-color: var(--Purple);
    color: white;
    font-size: 13px;
} 

.footer a {
    color: var(--Yellow);
    text-decoration: none;
    margin-left: 5px;
}