/* CSS BY Liz Kilroy */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
* {
    max-width: 400vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 400vw;
    margin: 0 auto;
    background: var(--Yellow);
}

/* ROOT VARIABLES */
:root {
    --Purple: #484fb7;
    --Teal: #4ca7c0;
    --Lavender: #6b8fe7;
    --Yellow: #e9bb57;
    --Pink: #D9526F;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--Lavender);
    min-height: 100vh;
    color: var(--Purple);
    padding: 0;
    max-width: 400px;
}

body > * {
    background: var(--Purple);
}


/* GLOBAL STYLES (mobile first/small) */

/* header- main */

header {
    background: var(--Purple);
    padding: 40px 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 8px;
}

.header p {
    font-size: 14px;
    opacity: 0.95;
}


/* Nav Menu */

nav {
    background: var(--Yellow);
    padding: 0;
}

nav h2 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0;
    background: var(--Yellow);
    color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    background: white;
    margin: 10px;
    padding: 11px;
    text-align: center;
}

nav a {
    display: block;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--Purple);
}


nav li:hover {
    background: #f8f8f8
    }


/* services */

#services {
    background: var(--Purple);
    padding: 40px 20px;
}

#services h2 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

article {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

#services h3 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: var(--Yellow);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

#service article {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

#services img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 0 15px 0;
}

#services h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--Purple);
    font-weight: 700;
}

#services p {
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
}

/* Section headers */

.section-header {
    border-bottom: none;
}

.section-header {
    padding: 15px 20px 5px;
    margin: 25px 20px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.section-subheader {
    color: #f4c430;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 20px 0;
    display: block;
}

/* Why Choose Us */

#why {
    background: var(--Pink);
    padding: 20px;
}

#why h2 {
    font-family: 'Kavoon', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    color: white;
    text-align: left;
    margin-bottom: 15px;

}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;
}

.feature-grid li {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 0.95em;
    color: black;
}

.feature-box:nth-child(1) {
    background: var(--Teal);
    border-radius: 8px;
}

.feature-box:nth-child(2) {
    background: var(--Lavender);
    border-radius: 8px;
}

.feature-box:nth-child(3) {
    background: var(--Yellow);
    border-radius: 8px;
}
.feature-box:nth-child(4) {
    background: white;
    border-radius: 8px;
}


/* Prices */
#price {
    background: var(--Purple);
    padding: 20px;
}

#price h2{
    font-family: 'Kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
}

#price article {
    margin-bottom: 30px;
}

#price h3{
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: var(--Yellow);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

#price table {
    background:var(--Yellow);
    width: 70%;
    height: 1em;
    margin: 0 auto;
    overflow: hidden;
}

#price thead {
    font-size: 10em;
    background:white;
    color: black;
}


#price th {
    background: var(--Yellow);
    align-items: center;
    padding: 12px 20px;
    align-items: center;
    font-weight: 700;
    font-size: 0.09em;
    text-transform: uppercase;

}

#price td {
    background: white;
    padding: 12px 20px;
    font-size: 0.95em;

}

#price-tbody tr:first-child td {
    font-size: 2em;
    border-bottom: none;
}

#price td:first-child {
    font-weight: 500;
}

#price td:last-child {
    align-items: center;
    text-align: left;
    font-weight: 600;
}


/* Take 1st Step */

#take {
    max-width: 400vw;
    background: var(--Pink);
    padding: 40px 20px;
    text-align: center;
    color: white;
}

#take h2 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 20px;
}

#take p {
    font-size: 0.95em;
    line-height: 1.7;
    margin-bottom: 25px;
}

#take button {
    background: white;
    color: black;
    padding: 16px 45px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 6px 0 black;
    transition: transform 0.2s;
}

#take button:hover {
    color: teal;
}


/* Footer */

.footer {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    padding: 22px 25px;
    text-align: center;
    background-color: var(--Purple);
    color: white;
    font-size: 13px;
} 

.footer a {
    color: #f4c430;
    text-decoration: none;
    margin-left: 5px;
}