/* CSS BY Liz Kilroy */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
* {
    max-width: 400vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --Purple: #484fb7
    --Teal: #4ca7c0
    --Lavender: #6b8fe7
    --Yellow: #e9bb57
    --Pink: #D9526F
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #6b8fe7;
    min-height: 100vh;
    color: #484fb7;
    padding: 0;
}

p {
    margin: 10px;
}

h2 {
    margin: 10px;
}



/* GLOBAL STYLES (mobile first/small) */

/* header- main */

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #484fb7;
}


.header {
    background: #484fb7;
    padding: 40px 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    align-items: center;
    margin-bottom: 8px;
}

.header p {
    font-size: 14px;
    opacity: 0.95;
}


/* Menu */

.menu {
    max-width: 400vw;
    background: #f4c430;
    margin: 20px 0px;
    overflow: hidden;
}

.menu ul {
    list-style: none;
}

.menu h2 {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.menu-title {
    background: #f4c430;
    padding: 12px;
    text-align: center;
    font-family: inter,'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.menu-item {
    background: white;
    padding: 5px 0;
    margin: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: #484fb7;
    border-bottom: 1px solid #f0f0f0;

}

.menu-item:hover {
    background: #f8f8f8
    }

.menu-item:last-child {
    border-bottom: none;
}


/* services */

.services {
    background: #484fb7;
    padding: 40px 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #e9bb57;
    font-weight: 700;
}

h4 {
    font-size: 1.15em;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

/* Section headers */

.section-header {
    border-bottom: none;
}

.section-header {
    padding: 15px 20px 5px;
    margin: 25px 20px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.section-subheader {
    color: #f4c430;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 20px 0;
    display: block;
}







/* Take 1st Step */

.take-section {
    max-width: 400vw;
    min-height: 200px;
    background-color: #d9526f;
    color: white;
/*     padding: 40px; */
    margin: 15px 0;
    overflow: hidden;
}

.take-section h3 {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

.take-title {
    margin-bottom: 18px;
}

.take-description {
    font-family: 'kavoon', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 26px;
}

.take-button {
    width: 350px;
    align-items: center;
    background: white;
    color: rgb(24, 3, 3);
    padding: 16px 45px;
    margin: 7px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 4px 0 black;

}

.take-button:hover {
    color: teal;
}


/* Footer */

.footer {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    padding: 22px 25px;
    text-align: center;
    color: white;
    font-size: 13px;
} 

.footer a {
    color: #f4c430;
    text-decoration: none;
    margin-left: 5px;
}