/* CSS BY Liz Kilroy */
/* IMPORTED FONTS */
/* CSS RESET */
/* ROOT VARIABLES */
:root {
    font-family: Inter;
    background-color: #6b8fe7;
}
/* color themes */
color {color: 
    --Purple: #484fb7
    --Teal: #4ca7c0
    --Lavender: #6b8fe7
    --Yellow: #e9bb57
    --Pink: #D9526F
}
/* GLOBAL STYLES (mobile first/small) */




h1, h2 {
    font-family: Kvoon;
}

h1 {
    font-size: 3em;
}

nav, h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: .5em
}

h4 {
    font-size: .15em
}
